header,footer {
    padding: 10px;
    color: white;
    background-color: #042C71;
    text-align: center;
}

header {
    position:sticky;
    top:0;
    z-index:1000;
    display:flex;
    justify-content: space-between;
}

body {
    margin:0;
    font-family:'Merriweather Sans', sans-serif;
    text-align: justify;
    font-size: 20px;
    background-color: #EBEDF3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    color:skyblue; 
}

a:hover{
    color:#F8D605;      
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

fieldset {
    margin-top:30px;
    margin-bottom:30px;
    box-shadow: 2px 2px 5px gray;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

legend {
    color:navy; 
    width:90%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(220, 220, 220, 0.5));
    transform:rotate(2deg);
    text-align: center;
}

.card {
    background-color: rgba(252, 252, 252, 0.5);
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    box-shadow: inset 2px 2px 5px gray;
    border-radius: 50px;
}

.card>p:hover {
    animation: fadeOut ease 0.5s;
    animation-fill-mode: forwards;
}

.card>img {
    width: auto;
    height: 200px;
    position: relative;
    display: inline-block;
    margin: auto;
    display: flex;
    align-self: center;
    margin: auto;
    border-radius: 50%;
}

.fa {
    padding: 12px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid skyblue;
    background: silver;
    color: navy;
    box-shadow:  2px 2px 5px black;
}

.fa:hover {
    opacity: 0.7;
    transform: scale(1.1);
    box-shadow: inset 2px 2px 5px gray;
}

article {
    padding: 5%;
    margin: 5%;
    box-shadow: 2px 2px 2px gray;
    border: 1px solid silver;
}
.article-details{
    display:flex;
    justify-content: space-between;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline::before {
    height: 20px;
    content: " ";
    animation: typewrite 6s infinite;
    animation-direction: alternate-reverse;
}

@keyframes typewrite {
    0% {
        content: "| ";
    }
    10% {
        content: "Cu|";
    }
    12% {
        content: "Curio|";
    }
    20% {
        content: "curios|";
    }
    22% {
        content: "Curiosity |";
    }
    30% {
        content: "Curiosity h|";
    }
    33% {
        content: "Curiosity has |";
    }
    35% {
        content: "Curiosity has n|";
    }
    40% {
        content: "Curiosity has no |";
    }
    42% {
        content: "Curiosity has no li|";
    }
    45% {
        content: "Curiosity has no limit|";
    }
    47% {
        content: "Curiosity has no limit !|";
    }
    50% {
        content: "Curiosity has no limit !!";
    }
    100% {
        content: "Curiosity has no limit !!";
    }
}

@keyframes fadeOut {
    0% {
        color: black;
    }
    100% {
        color: #0B6AB0;
    }
}

/* For mobile phones: */
@media only screen and (max-width: 800px) {
    #hide {
        display:none;
    }
}

/* For tablets */
@media only screen and (min-width: 801px) and (max-width: 1100px) {
    article {
        margin-left:10%;
        margin-right:10%;
    }
}

/* For laptop/desktop: */
@media only screen and (min-width: 1101px){
    article {
        margin-left:20%;
        margin-right:20%;
    }
}